body {
    background-color: gray;
    color: white;
    text-align: center;
}

#links {
    display: grid;
    grid-template-rows: 150px 150px 150px;
	grid-template-columns: 300px 300px 300px;
    gap: 15px;
    justify-content: center;
}

h3 {
    font-size: 50px;
}

a {
    font-size: 25px;
    display: flex;
    text-decoration: none;
    color: greenyellow;
    border: 1px red solid;
    background-color: red;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

a:hover {
    color: black;
    background-color: white;
}
